// Events
// ================================================

// Home

.section-events {

  &.home {
    text-align: center;

    .container {
      @include outer-container;
    }

    .event {
      @include span-columns(4);
      @include omega(3n);

      @include media($tablet) {
        @include span-columns(12);
        @include omega();

        margin-bottom: 4rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      h3,
      h4 {
        font-weight: 500;
        color: $body-font-color;
      }

      h3 {
        width: 75%;
        min-height: 68px;
        margin: 2.5rem auto 1rem auto;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        text-transform: uppercase;

        @include media($tablet) {
          min-height: 0;
          font-size: 1.4rem;
          margin: 1.5rem auto .5rem auto;
        }
      }

      .date {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.25rem;

        span {
          padding-bottom: .25rem;
          border-bottom: 2px solid $body-font-color;
        }
      }

      .ministry {
        margin-top: 0;
        font-size: 1.25rem;
        color: darken(white, 40%);
      }

      .actions {
        margin-top: 2rem;

        @include media($tablet) {
          margin-top: 1rem;
        }
      }
    }
  }

}
