// Sections (Global)
// ================================================

.section {
  
  h2 {
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
  }

  &.home {
    padding: 6rem 0;
    border-bottom: 1px solid #d0d2d3;

    @include media($tablet) {
      padding: 4rem 0;
    }

    h2 {
      margin-top: 0;
      text-align: center;

      @include media($tablet) {
        font-size: 1.4rem;
      }
    }
  }
}
