.DS_Store
*.sublime-project
*.sublime-workspace
bowser_components/
manifest/config.php
manifest/cache/*
manifest/logs/*
manifest/tmp/*
node_modules/
workspace/uploads/documents/*
workspace/uploads/images/*
utilities/*.sh
_sql/