// Athey Branding
// ================================================

@font-face {
  font-family: 'Athey';
  src: url('#{$font-path}athey.eot');
  src: url('#{$font-path}athey.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}athey.woff') format('woff'),
       url('#{$font-path}athey.ttf') format('truetype'),
       url('#{$font-path}athey.svg#athey') format('svg');
  font-style: normal;
  font-weight: normal;
}

// Catchall baseclass
[class^="icon-"]:before {
  font-family: 'Athey';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

// Individual icons
.icon-full:before                        { content: "\e001"; }
.icon-full-outline:before                { content: "\e002"; }
.icon-small:before                       { content: "\e003"; }
.icon-small-outline:before               { content: "\e004"; }
.icon-oregon:before                      { content: "\e005"; }