// Buttons
// ================================================

@mixin button() {
  padding: .35rem 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;

  &:hover {
    @include opacity(.5);
  }
}

@mixin button-custom ($btn-bg, $btn-color, $btn-border) {
  @include button();
  background-color: $btn-bg;
  color: $btn-color;
  border-color: $btn-border;
}

.btn {
  @include button-custom(transparent, white, white);
}

.btn-brand {
  @include button-custom(transparent, $color-brand-primary, $color-brand-primary);

  &.btn-solid {
    @include button-custom($color-brand-primary, $body-bg, transparent);
  }
}