background-image:-webkit-linear-gradient(top, #c2262d 0, #87181d 75%);
background-image:linear-gradient(to bottom, #c2262d 0, #87181d 75%);
background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc2262d', endColorstr='#ff87181d', GradientType=0)