@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../fonts/icons.svg#icons') format('svg');
  }
}

.icon {
  &:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'icons';
    display: inline-block;
    line-height: 1;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  &[data-icon]:before {
    content: attr(data-icon);
  }
}

/** Sass variables **/

$accf-badge: '\f106';

$accf-facebook: '\f101';

$accf-logo: '\f107';

$accf-logo-outline: '\f108';

$accf-logo-short: '\f109';

$accf-logo-short-outline: '\f10a';

$accf-menu: '\f103';

$accf-twitter: '\f105';


/** Sass mixins **/

@mixin accf-badge() {
  &:before {
    content: $accf-badge;
  }
}

@mixin accf-facebook() {
  &:before {
    content: $accf-facebook;
  }
}

@mixin accf-logo() {
  &:before {
    content: $accf-logo;
  }
}

@mixin accf-logo-outline() {
  &:before {
    content: $accf-logo-outline;
  }
}

@mixin accf-logo-short() {
  &:before {
    content: $accf-logo-short;
  }
}

@mixin accf-logo-short-outline() {
  &:before {
    content: $accf-logo-short-outline;
  }
}

@mixin accf-menu() {
  &:before {
    content: $accf-menu;
  }
}

@mixin accf-twitter() {
  &:before {
    content: $accf-twitter;
  }
}


