
// ================================================
// LINKS
// - everything related to special Links
// ================================================


// More
// ------------------------------------------------

.more {
  margin-top: 2rem;
}

.more-link {
  padding: .5rem 4rem;
  font-family: $font-family-condensed;
  text-transform: uppercase;
  color: $white;
  background: $brand-primary;

  &:hover {
    @include opacity(.5);
    color: $white;
  }

  a {
    color: $white;
  }
}
