
// ================================================
// ALERTS
// - everything related to Alerts
// ================================================


// Alerts
// ------------------------------------------------

.alert {
  margin-bottom: 0;
  border: none;
  font-family: $font-family-sans-serif;
  font-size: 1.8rem;

  span {
    margin-right: 1.5rem;
  }

  a {
    display: inline-block;
    padding: .15rem .75rem;
    font-family: $headings-font-family;
    font-size: 1.5rem;
    text-transform: uppercase;

    &:hover {
      @include opacity(.5);
    }
  }

  &.alert-success a,
  &.alert-info a,
  &.alert-warning a {
    background: $brand-primary-text;
    color: $brand-primary;
  }
  &.alert-danger a {
    background: $brand-primary-text;
    color: $brand-accent;
  }
}


.alert-success,
.alert-info,
.alert-warning {
  @include alert-variant($brand-primary, $brand-primary, $brand-primary-text);
}
.alert-danger {
  @include alert-variant($brand-accent, $brand-accent, $brand-primary-text);
}