
// ================================================
// DOWNLOADS
// - everything related to Downloads
// ================================================


// Sidebar
// ------------------------------------------------

.downloads-column-right {
  margin-bottom: 6rem;

  .download a {
    display: block;
    margin-bottom: 3rem;
    padding: 3rem;
    color: lighten($gray-darker, 25%);
    font-family: $font-family-sans-serif;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background: lighten($gray-darker, 75%);
  }

  .glyphicon {
    margin-bottom: 1.5rem;
    color: lighten($brand-primary, 30%);
    font-size: 2.5rem;
  }

  .title {
    line-height: 1.2;
  }

}