
// ================================================
// EVENTS
// - everything related to Events
// ================================================


// Home
// ------------------------------------------------

.events.events-full-width.events-home {

  h4 {
    margin-top: 6rem;
  }

  .event-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .event {
    padding: 4rem 0;
    text-align: center;
    background: lighten($brand-secondary, 36%);
    border-top-width: 10px;
    border-top-style: solid;
    @include animate-simple(all);

    &:hover {
      background: lighten($brand-secondary, 30%);
    }

    &:nth-child(2n) {
      background: lighten($brand-secondary, 33%);

      &:hover {
        background: lighten($brand-secondary, 30%);
      }
    }
  }

  .men          { border-color: $color-men; }
  .women        { border-color: $color-women; }
  .college      { border-color: $color-college; }
  .highschool   { border-color: $color-highschool; }
  .jrhigh       { border-color: $color-jrhigh; }
  .gradeschool  { border-color: $color-gradeschool; }
  .children     { border-color: $color-children; }
  .allchurch    { border-color: $color-allchurch; }


  a {
    color: $brand-secondary;
  }

  h5 {
    margin-bottom: 2rem;
    padding: 0;
    font-family: $font-family-base;
    font-size: 2.2rem;
    font-style: italic;
    text-transform: none;
  }

  h3 {
    width: 60%;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
    font-family: $font-family-condensed;
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;

    span {
      display: block;
      min-height: 8.4rem;
    }
  }

  hr {
    background: none;
    border-top: 3px solid lighten($gray-darker, 55%);
    width: 10%;
    margin: 1rem auto 2rem auto;
  }

  .view {
    display: inline-block;
    padding: .5rem 3.5rem;
    color: $brand-secondary;
    font-family: $font-family-condensed;
    text-transform: uppercase;
    border: 2px solid $brand-secondary;
  }
}


// Landing
// ------------------------------------------------

.events-full-width,
.events-column-right {

  h4 {
    margin-top: 6rem;
  }

  .event {
    margin-bottom: 3rem;
    @include animate-simple(all);

    &:hover {
      @include opacity(.5);
    }
  }

  a {
    color: lighten($gray-darker, 10%);
  }

  h5 {
    margin: 2rem 0 0 0;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1.2;
  }

  h5 > .label {
    margin-left: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-family: $font-family-condensed;
    font-size: 1.75rem;
    font-weight: bold;
  }

  .date {
    font-style: italic;
    color: lighten($gray-darker, 40%);
  }

}


// Detail
// ------------------------------------------------

.events-full-width.events-detail {

  > img {
    width: 100%;
  }

  .container {
    margin-top: 3rem;
  }

  .title {
    margin-top: .5rem;
    margin-bottom: 0;
    line-height: 1.4;
  }

  .title > .label {
    margin-left: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-family: $font-family-condensed;
    font-size: 2.6rem;
    font-weight: bold;
  }

  .date {
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    color: lighten($gray-darker, 45%);
    font-size: 2.1rem;
    font-style: italic;
    border-bottom: .2rem solid lighten($gray-darker, 74%);
  }

  .description {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 3.2rem 0 1.6rem 0;
      font-size: 2.1rem;
      text-align: left;
    }

    p,
    em,
    strong,
    span,
    address,
    ul,
    ol,
    li {
      color: lighten($gray-darker, 25%);
    }

  }

}