
// ================================================
// RECURRING EVENTS
// - everything related to Recurring Events
// ================================================

// Landing

.events-recurring-full-width,
.events-recurring-column-right {

  .event-recurring a {
    display: block;
    margin-bottom: 3rem;
    padding: 5rem 0;
    color: lighten($gray-darker, 25%);
    text-align: center;
    background: lighten($gray-darker, 65%);

    &:hover {
      @include opacity(.5);
    }
  }

  h5 {
    font-family: $font-family-sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  p {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: normal;
    color: lighten($gray-darker, 40%);
  }

}

.events-recurring-column-right {
  margin-bottom: 6rem;
}

.events-recurring-column-right .event-recurring a {
  padding: 2rem 0;
  background: lighten($gray-darker, 75%);
}