
// ================================================
// EVENTS
// - everything related to Events
// ================================================


// Home
// ------------------------------------------------

.events.events-full-width.events-home {

  .event-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .event {
    padding: 4rem 0;
    text-align: center;
    background: lighten($gray-darker, 70%);
    border-top-width: 10px;
    border-top-style: solid;
    @include animate-simple(all);

    &:hover {
      background: lighten($gray-darker, 63%);
    }

    &:nth-child(2n) {
      background: lighten($gray-darker, 75%);

      &:hover {
        background: lighten($gray-darker, 68%);
      }
    }
  }

  .men          { border-color: $color-men; }
  .women        { border-color: $color-women; }
  .college      { border-color: $color-college; }
  .highschool   { border-color: $color-highschool; }
  .jrhigh       { border-color: $color-jrhigh; }
  .gradeschool  { border-color: $color-gradeschool; }
  .children     { border-color: $color-children; }
  .allchurch    { border-color: $color-allchurch; }


  a {
    color: lighten($gray-darker, 25%);
  }

  h5 {
    padding: 0 0 1rem 0;
    font-family: $font-family-base;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
  }

  h3 {
    width: 55%;
    margin: 0 auto;
    padding: 1rem 0 0 0;
    font-family: $headings-font-family;
    line-height: 1.4;
    text-transform: uppercase;

    span {
      display: block;
      min-height: 80px;
    }
  }

  hr {
    background: none;
    border-top: 3px solid lighten($gray-darker, 55%);
    width: 10%;
    margin: 1rem auto;
  }

  .view {
    display: inline-block;
    padding: .5rem 3.5rem;
    color: lighten($gray-darker, 25%);
    font-family: $headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid lighten($gray-darker, 25%);
  }
}

// Landing

.events.events-full-width.events-landing {

  .event {
    margin-bottom: 3rem;
    @include animate-simple(all);

    &:hover {
      @include opacity(.5);
    }
  }

  a {
    color: lighten($gray-darker, 10%);
  }

  h5 {
    margin-bottom: .5rem;
  }

  h5 > .label {
    position: relative;
    top: -.2rem;
    margin-left: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
  }

  .date {
    font-style: italic;
    color: lighten($gray-darker, 40%);
  }

  .more {
    margin-top: 2rem;
  }

  .more-link {
    padding: .5rem 4rem;
    font-family: $headings-font-family;
    text-transform: uppercase;
    color: white;
    background: lighten($gray-darker, 40%);
  }

}