
// ================================================
// RECURRING EVENTS
// - everything related to Recurring Events
// ================================================

// Landing

.events-recurring.events-recurring-full-width.events-recurring-landing {

  .event-recurring a {
    display: block;
    margin-bottom: 3rem;
    padding: 5rem 0;
    color: lighten($gray-darker, 25%);
    text-align: center;
    background: lighten($gray-darker, 65%);

    &:hover {
      @include opacity(.5);
    }
  }

  h5 {
    letter-spacing: .3 rem;
    margin-bottom: .5rem;
  }

  p {
    font-style: italic;
    color: lighten($gray-darker, 40%);
  }

}