
// ================================================
// FEATURED
// - everything related to the Featured area
// ================================================



// Feature
// ------------------------------------------------

.feature .teachings-current h4 {
  margin-top: 0;
}

.feature a {
  display: block;
  margin-bottom: 1.5rem;

  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }
}