
// ================================================
// FOOTER
// - everything related to the Footer
// ================================================


// Footer
// ------------------------------------------------

.footer {
  background: lighten($gray-darker, 55%);
  padding-top: 4rem;
}

.footer a {
  color: $gray-darker;
  border-bottom: 2px solid darken($white, 20%);

  &:hover {
    border-color: darken($white, 10%);
  }
}

.footer .col-md-4 {
  padding: 3rem 0 4rem 0;
}

.footer h5,
.footer p,
.footer address {
  text-align: center;
}

.footer h5 {
  font-size: 1.75rem;
  font-weight: normal;
  text-transform: uppercase;
}

.footer p,
.footer address {
  color: lighten($gray-darker, 25%);
}

.footer .baseline {
  padding: 1rem 0;
  font-size: 1.6rem;
  background: lighten($gray-darker, 50%);
}

.footer .baseline .copyright {
  margin: 2rem 0 2rem 0;
}