
// ================================================
// LOCATIONS
// - everything related to Locations
// ================================================


// Groups
// ------------------------------------------------

.locations-groups-full-width {

  h4 {
    margin-top: 6rem;
  }

  .list-group {
    padding-top: 6rem;
  }

  .list-group-item a {
    display: block;
    font-family: $font-family-sans-serif;
    color: $brand-secondary;
  }

  .list-group-item a .label {
    text-transform: uppercase;
  }

  .list-group-item.active {
    background: darken($brand-secondary, 25%);
    border-color: darken($brand-secondary, 25%);
  }

  .list-group-item.active a {
    color: $white;
  }

  address {
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.6rem;
    text-align: left;
  }

  .description hr {
    margin: 3rem 0 2.5rem 0;
    width: 25%;
    border-top-width: 2px;
  }

}


// Sidebar
// ------------------------------------------------

.locations-column-right {
  margin-bottom: 3rem;
  color: lighten($gray-darker, 25%);

  img {
    margin-bottom: 2rem;
  }

  strong {
    font-family: $headings-font-family;
    font-size: 1.75rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .more {
    margin-top: 2rem;
  }

  .more-link {
    display: block;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
  }
}