
// ================================================
// MEMBERS ROLES
// - everything related to Members Roles
// ================================================


// Full Width
// ------------------------------------------------

.members-roles-full-width {

  .member {
    margin-bottom: 3rem;
    text-align: center;
  }

  img {
    width: 250px;
    height: 250px;
  }

  .title {
    margin: 3rem 0 1rem 0;
    color: lighten($brand-secondary, 20%);
    font-family: $font-family-condensed;
    font-size: 2rem;
    font-weight: normal;
  }

  .name {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .contact-details {
    color: lighten($brand-secondary, 20%);

    .glyphicon {
      margin: 0 .5rem;
    }
  }

  .description {
    font-family: $font-family-sans-serif;
    text-align: left;
  }

  .more-link {
    display: block;
    margin: -1.5rem 0 1.5rem 0;
    text-align: center;
  }

  .contact-info {
    margin-bottom: 6rem;
  }
}


// Sidebar
// ------------------------------------------------

.members-roles-column-right {
  padding: 3rem 0 .5rem 0;
  background: lighten($gray-darker, 75%);

  .member {
    margin-bottom: 30px;
    padding: 1.5rem;
    text-align: center;
  }

  h4 {
    margin: 0;
    padding-bottom: 1.5rem;
  }

  a {
    display: block;
    color: lighten($gray-darker, 45%);
    text-align: center;

    &:hover {
      @include opacity(.5);
    }
  }

  img {
    width: 20rem;
    height: 20rem;
  }

  .info {
    margin-top: 3rem;
  }

  h5 {
    margin-bottom: .5rem;
    color: lighten($gray-darker, 25%);
    font-size: 1.6rem;
  }

  .email {
    font-style: italic;
  }

  .phone {
    display: block;
    margin-top: -.2rem;
  }

}
