
// ================================================
// NAVIGATION
// - everything used to create the main navigation
// ================================================


// Navigation Icons
// ------------------------------------------------

.icon-logo {
  @include accf-logo;
}

.icon-menu {
  @include accf-menu;
}

.icon-wordmark {
  @include accf-wordmark;
}


// Navbar
// ------------------------------------------------

.navbar {
  background: url('../images/seamless_paper_texture.png') repeat;
}

// Hide navbar on desktop and up
@media (min-width: $screen-md-min) {
  .navbar {
    display: none;
  }
}

.navbar-toggle:hover,
.navbar-brand:hover {
  @include opacity(.5);
  @include animate-simple(all);
}

.navbar-brand {
  color: $brand-primary;
  font-family: $font-family-condensed;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
}

// Some fixes for Navbar display with responsive setup
@media (min-width: $grid-float-breakpoint) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
}

.navbar-toggle {
  margin-right: 0;
  border: none;

  .icon-bar {
    background: $brand-primary;
  }
}


// Masthead
// ------------------------------------------------

.masthead {
  display: none;
  text-align: center;

  // Show the Masthead on desktop and up
  @media (min-width: $screen-md-min) {
    display: block;
    padding: 4rem 0;
  }
}

.masthead .navigation {
  margin: 0;
  list-style: none;
  font-family: $font-family-condensed;
  text-transform: uppercase;
}

.masthead .navigation > li {
  position: relative;
  top: -3rem;
  display: inline-block;
  margin: 0 1.75rem;
  font-size: 1.7rem;
  letter-spacing: .2rem;

  &:first-child {
    margin-left: -2rem;
  }
}

.masthead .navigation > li.dropdown {
  z-index: 9999;
}

// Active state
.masthead .navigation > li.active > a {
  color: $brand-accent;
}

// Dropdown toggle
.masthead .navigation > li.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}

.masthead .navigation li a {
  color: $brand-primary;
  padding: 1rem 0;

  &:hover {
    color: $brand-accent;
  }
}

.masthead .navigation > li.logo {
  position: relative;
  top: 0;
  font-size: 10rem;
  line-height: 1rem;
}

// Dropdown Menu styles

.masthead .navigation .dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
}

.masthead .navigation .dropdown-menu > li {
  font-family: $headings-font-family;
}

.masthead .navigation .dropdown-menu > li > a {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .25rem;
}

// Double dropdowns

// Hide by default
.masthead .navigation .dropdown-menu > li.dropdown .dropdown-menu {
  display: none;
  left: 11rem;
  top: -.2rem;
  min-width: 240px;
  @include content-columns(2);
}

.masthead .navigation .dropdown-menu > li.dropdown .dropdown-menu li:hover a {
  background: none;
}

.masthead .navigation .dropdown-menu > li.dropdown .dropdown-menu li a {
  padding: .5rem 1rem;
  font-family: $font-family-condensed;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
}

.masthead .navigation .dropdown-menu > li.dropdown:hover .dropdown-menu {
  display: block;
}



// Special animations just for the Homepage

.layout-home .masthead .navigation > li {
  @include animate(fade-in, 2s);
}

.layout-home .masthead .navigation  > li.logo {
  @include animate(fade-in-down, 1.5s);
}

// Sub-Navigation
// ------------------------------------------------

.subnav {
  background: darken(white, 10%);
}

.subnav .nav {
  margin-bottom: 0;
}

.subnav .nav > li > a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.subnav .nav > li.active > a {
  background: darken(white, 15%);
}

// Offcanvas Slide Menu
// ------------------------------------------------

// Right Drawer

.snap-drawers {
  background: darken($brand-primary, 10%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;

  @media (min-width: $screen-md) {
    display: none;
  }
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 287px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer .brand {
  font-size: 100px;
  line-height: 36px;
  text-align: center;

  a {
    color: $brand-primary-text;
  }
}

.snap-drawer > ul > li {
  display: inline-block;
}

.snap-drawer > ul > .dropdown {
  display: block;

  .dropdown-menu {
    display: block;
    float: none;
    position: static;
    margin-top: 0;
    padding-left: 1.5rem;
    background: none;
    border: none;
    box-shadow: none;

    &.hide-mobile {
      display: none;
    }
  }
}

.snap-drawer-right {
  right: 0;
  padding: 20px;
  z-index: 1;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;

    a {
      color: white;
    }
  }

  ul {
    margin: 2rem 0 0 0;
    padding-left: 0;
    list-style: none;
  }

  ul li {
    display: block;
    font-family: $headings-font-family;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;

    &.hide-mobile {
      display: none;
    }
  }

  ul li .dropdown-menu li {
    font-family: $font-family-condensed;
    font-size: 1.6rem;
  }

  ul li a {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding: 0;
    color: $brand-primary-text;

    &:hover {
      background: none;
      color: $brand-primary-text;
    }
  }

  ul li.register,
  ul li.social {
    display: block;

    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  ul li.register a {
    color: white;
    font-weight: 600;
    background: $brand-primary;

    &:hover {
      color: white;
      background: transparentize($brand-primary, 0.25);
    }
  }

  ul li a .icon {
    margin-right: 5px;
  }

  ul li a .count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    float: right;
    background: $brand-primary;
    height: 100%;
  }
}

// Main Content

.snap-content {
  background: url('../images/seamless_paper_texture.png') repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

  @media (min-width: $screen-md) {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
