
// ================================================
// TAG LIST
// - everything related to Tag Lists
// ================================================


// Main
// ------------------------------------------------


.main-content .tag-list {
  padding-left: 0;
  display: inline;
  list-style: none;
  line-height: 1.2;
}

.tag-list-heading {
  display: inline-block;
  padding-left: 0;
  font-family: $font-family-extended;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tag-list-item {
  display: inline-block;
  list-style-type: none;
  font-family: $font-family-condensed;
  font-weight: normal;
  line-height: 2.75;
  text-transform: uppercase;
}

.tag-list-item a {
  margin-left: 1rem;
  padding: 1rem;
  color: $brand-primary;
  background: lighten($brand-primary, 55%);

  &.active,
  &:hover {
    color: $white;
    background: $brand-primary;
  }
}