
// ================================================
// TEACHINGS
// - everything related to Teachings
// ================================================


// Home
// ------------------------------------------------

.teachings.teachings-home {

  .teaching {
    margin-bottom: 6rem;
    @include animate-simple(all);

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }

    &:hover {
      @include opacity(.5);
    }
  }

  a {
    color: lighten($gray-darker, 10%);
  }

  h5 {
    margin-bottom: 0;
    font-weight: normal;
  }

  .date {
    font-style: italic;
    color: lighten($gray-darker, 40%);
  }

  @media (min-width: $screen-md) {
    .description {
      width: 90%;
    }
  }

}


// Home: Teachings Series
// ------------------------------------------------

.teachings-series.teachings-series-home {

  .series a {
    display: block;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

}


// Landing: Teachings Search
// ------------------------------------------------

.teachings-search {
  text-align: center;

  form {
    display: block;
    width: 100%;
    margin: 4rem auto;
    padding: 1rem;
    border-bottom: 2px solid lighten($brand-secondary, 25%);

    @media (min-width: $screen-md) {
      width: 50%;
    }
  }

  a {
    display: inline-block;
    padding: 0 0 0 .5rem;
    color: darken($brand-secondary, 25%);
    text-decoration: none;
    border: none;
  }

  input {
    padding-right: 1rem;
    color: lighten($brand-secondary, 5%);
    text-align: center;
    background: none;
    border: none;
    outline: none;
    width: 95%;

    @include placeholder(lighten($brand-secondary, 25%));
  }

}


// Landing: Teachings Podcast
// ------------------------------------------------

.teachings-podcast {
  .podcast {
    margin-bottom: 6rem;
  }
  .podcast-image {
    text-align: center;

    img {
      display: inline;
    }
  }
  .podcast-description {
    margin-top: 3rem;
    font-family: $font-family-sans-serif;
  }
  .podcast-links {
    text-align: center;
  }
  .podcast-links .more-link {
    margin: 0 .5rem;

    &:hover {
      color: $white;
      @include opacity(.5);
    }
  }
  .podcast-links .more-link:first-child {
    text-transform: none;
  }
}


// Teachings: Detail
// ------------------------------------------------

.teachings-full-width.teachings-detail {
  border-radius: .5rem .5rem 0 0;

  .teaching,
  .teaching-viewer,
  .inner {
    border-radius: .5rem .5rem 0 0;
  }

  .teachings-detail h3 {
    border-radius: .5rem .5rem 0 0;
  }
}

.teachings-detail {
  .title {
    display: none;
  }

  .nav {
    padding-left: 0;
  }

  @media (min-width: $screen-md) {
    .main,
    .speaker {
      width: 50%;
      float: left;
    }
  }

  .main h4 {
    margin-top: 4.5rem;
    margin-bottom: .5rem;

    .label {
      position: relative;
      top: -.2rem;
    }
  }

  .main .meta {
    text-align: center;
    font-style: italic;
    color: $brand-secondary;
  }

  .main .divider {
    margin: 2rem 0;
    color: lighten($brand-secondary, 25%);
    font-family: $font-family-extended;
    font-weight: bold;
    letter-spacing: 3.5rem;
    text-align: center;
  }

  .main .description {
    width: 75%;
    margin: 0 auto;
  }

  .tag-list {
    padding-left: 0;
    display: inline;
    list-style: none;
    line-height: 1.2;
  }

  .tag-list > li {
    display: inline;
    text-transform: uppercase;
  }

  .tag-list-heading {
    font-family: $font-family-extended;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .tag-list-item {
    list-style-type: none;
    font-family: $font-family-condensed;
    font-weight: normal;
    line-height: 1.2;
  }

  .tag-list-item a {
    margin-left: 1rem;
    padding: 1rem;
    color: $brand-primary;
    background: lighten($brand-primary, 55%);

    &:hover {
      color: $white;
      background: $brand-primary;
    }
  }

  .speaker .description {
    width: 75%;
    margin: 0 auto;
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
    text-align: left;
  }

}

.teaching-viewer {
  color: $white;
  background-size: cover;

  .inner {
    background: transparentize(darken($brand-secondary, 40%), .05);
  }

  .teaching-nav {
    margin: 0;
    padding: .5rem 0 0 0;
    text-align: center;
  }

  .teaching-media {
    padding: 6rem 0;
    text-align: center;
  }

  audio {
    width: 100%;
  }

  .nav-pills {
    padding-left: 0;
    display: inline-block;
    font-family: $font-family-condensed;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;

    & > li {
      display: inline;
      float: none;
    }

    & > li > a {
      display: inline;
      color: $white;

      &:hover {
        color: darken($brand-secondary, 30%);
        background: transparentize($white, .25);
      }
    }

    & > li.active a {
      background: $white;
      color: darken($brand-secondary, 30%);
    }
  }
}