
// ================================================
// TEXT
// - everything related to Text
// ================================================


// Global
// ------------------------------------------------

.text {

  h2 {
    font-family: $font-family-condensed;
  }

}


// Center Column
// ------------------------------------------------

.text-column-center {
  margin-top: 5.5rem;
}


// Full Width
// ------------------------------------------------

.text-full-width {

  h1 {
    margin: 0 auto;
    padding: 5rem 0;
    font-weight: 900;
    letter-spacing: .3rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
      width: 85%;
    }

    @media (min-width: $screen-md-min) {
      width: 50%;
    }
  }

}

