
// ================================================
// TEXT
// - everything related to Text
// ================================================


// Global
// ------------------------------------------------

.text {
  margin-bottom: 3rem;

  h2 {
    font-family: $font-family-extended;
    font-size: 2.8rem;
    letter-spacing: 0;
    line-height: 1.4;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    margin: 3.2rem 0 1.6rem 0;
    text-align: left;
  }
}

// Full Width
// ------------------------------------------------

.text-full-width {

  h1 {
    width: 90%;
    margin: 0 auto;
    padding: 3.2rem 0;
    font-family: $font-family-condensed;
    font-size: 5.4rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
      width: 65%;
    }
  }

}


// Column Right
// ------------------------------------------------

.main-content .column-right > h4 {
  margin-top: 1rem;
}