
// ================================================
// VERSES
// - everything related to Verses
// ================================================


// Main
// ------------------------------------------------

.verse {
  margin-bottom: 0;
  padding: 3rem 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid lighten($brand-secondary, 33%);
}

.verse p {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 0;
  color: $brand-primary;
  font-size: 2.4rem;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    width: 75%;
  }

  @media (min-width: $screen-md-min) {
    width: 40%;
  }
}

.verse cite {
  margin-top: 0;
  padding: 0;
  color: lighten($brand-primary, 35%);
  font-family: $headings-font-family;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
