
// ================================================
// + VARIABLES
// - all site variables go here
// ================================================


// Colors
// ------------------------------------------------

$color-brand: #df9a2f;

// Typography
// ------------------------------------------------

$font-sans: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-body: $font-sans;