
// ================================================
// + VARIABLES
// - all site variables go here
// ================================================


// Bootstrap Overrides
// ------------------------------------------------

// Global Colors

$gray-darker: #373839;
$brand-primary: #3aa2dd;
$text-color: $gray-darker;

// Ministry Colors

$color-men: #3d3a3a;
$color-women: #Df90f0;
$color-college: #06e3b2;
$color-highschool: #99a2ab;
$color-jrhigh: #48a4ff;
$color-gradeschool: #fed666;
$color-children: $color-gradeschool;
$color-allchurch: #ff5656;


// Typography

$icon-font-path: '../../build/fonts/';
$font-family-sans-serif: 'adelle-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-family: 'freight-display-pro', Georgia, Times, serif;
$headings-font-weight: 900;
$font-size-base: 20px;


// Navbar
$navbar-height: 60px;
$navbar-margin-bottom: 0;
$navbar-inverse-brand-color: white;
$navbar-inverse-brand-hover-color: $brand-primary;
$navbar-inverse-bg: lighten($gray-darker, 2%);
$navbar-inverse-border: none;
$navbar-border-radius: 0;
$navbar-inverse-toggle-hover-bg: lighten($gray-darker, 2%);
$navbar-inverse-toggle-border-color: lighten($gray-darker, 2%);


// Navs

$nav-pills-border-radius: 0;
